{% extends "template.html" %}

{% block title %} ADD GEAR {% endblock %}

{% block body%} 
    <h1> Add/Delete a product </h1>
    <form method="post" action="" id="addForm">
        
        <!-- FORM TYPE  -->
        <select name="formType">
            <option value="Add"> Add </option>
            <option value="Delete"> Delete </option>
        </select> <br>
        
        <!-- TYPE  -->
        <label for="type">Type: </label>
        <select name="type">
            <option value="mouse"> Mouse </option>
            <option value="keyboard"> Keyboard </option>
            <option value="headset"> Headset </option>
        </select>
        
        <!-- INPUTS  -->
        <br>
        <label for="model">Model: </label><input type="text" name="model" placeholder="model" autocomplete="off"><br>
        <label for="price">Price: </label><input type="text" name="price" placeholder="price (xxx.xx / xxx)" autocomplete="off"><br>
        <label for="brand">Brand: </label><input type="text" name="brand" placeholder="brand" autocomplete="off"><br>
        <p id="errorMessage" style="color:red; text-decoration: underline;"></p>
        
        <div class="card-container" id="card-container"></div>
        
        <input type="submit" value="Add">
    </form>
    <h1><a href="/gear"> Back to gear list </a></h1>

    <script src="/static/scripts/add_gear.js"></script>
    {% endblock %}