{% extends "template.html" %}

{% block title %} GET GEAR {% endblock %}

{%block body %}
<h1 style="margin-left: 10%"> Search for an item </h1>

<h1 style="margin-left: 10%"> ITEM LIST </h1>

<h1><a href="/add_gear"> Add a product </a></h1>

<input value="" type="text" id="query" placeholder="Search items (brand/model)" autocomplete="off">


<select id="sort-select">
    <option value="id">Sort by ID</option>
    <option value="type">Sort by Type</option>
    <option value="price">Sort by Price</option>
    <option value="rating">Sort by Rating</option>
</select>

<select id="reverse-order">
    <option value="normal"> Normal order </option>
    <option value="reverse"> Reverse order </option>
</select>

<div class="card-container">

    {% for item in gear_data %}
    <div class="card" data-id="{{item['id']}}">
        <table>
            <tr>
                <td id="highlight">Type: </td>
                <td>{{ item["type"] }}</td>
            </tr>
            <tr>
                <td id="highlight">Brand: </td>
                <td>{{ item["brand"] }}</td>
            </tr>
            <tr>
                <td id="highlight">Model: </td>
                <td>{{ item["model"] }}</td>
            </tr>
            <tr>
                <td id="highlight">Price: </td>
                <td>{{ item["price"] }}</td>
            </tr>
            <tr>
                <td id="highlight">Rating: </td>
                <td>{{ item["score"] }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class='rating-form'>
                    <form id="myForm" method='POST' action='/add_rating'; onsubmit='return rate(event, this)'>
                        <p>WHAT DO YOU THINK ABOUT THE PRODUCT? LET US KNOW!</p>
                        Overall: <select class='rating' name='rating' required>
                            <option value='5'>GREAT</option>
                            <option value='4'>DECENT</option>
                            <option value='3'>MID</option>
                            <option value='2'>POOR</option>
                            <option value='1'>HORRIBLE</option>
                        </select>
                        <input class='id' name='id' type='hidden' value="{{ item['id'] }}">
                        <input type='text' class='comment' name='comment' placeholder='Share your experience'>
                        <input type='submit' value='Rate'>
                    </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>

{% endfor %}
</div>


<a href="/">Go to main page</a>

<script src="{{ url_for('static', filename='scripts/get_gear.js')}}"></script>
{% endblock %}