{% extends "template.html" %}

{% block title %} Log In {% endblock %}


{% block body %}

<form>
    <input type="text" id="username" name="username" placeholder="Username">
    <input type="password" id="password" name="password" placeholder="Password">
    <button type="button" onclick="formHandler()"> Submit </button>
    <p id="Error_message" style="color: red;"></p>
</form>

<script src="{{url_for('static', filename='scripts/data-validator.js')}}"></script>
<script src="{{url_for('static', filename='scripts/log-in.js')}}"></script>
{% endblock %}

<!-- 
TODO:
set up a database, figure out a way to connect it, make it so data-validator will work with
that.
-->