<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="favicon" href="{{ url for('static', filename='icon.jpg') }}">
</head>
<body class="{{theme}}">
    <button class="theme-toggle" id="themeToggle" title="Toggle Theme"> Dark </button>
    {% block body %}
    {% endblock %}


<script> 
    const toggleButton = document.getElementById('themeToggle');
    const body = document.body;

    toggleButton.addEventListener('click', () => {
        // check current theme
        const isDark = body.classList.contains('dark-mode') ? "light-mode": "dark-mode";
        // handle deleting dark-mode class according to its presence
        body.classList.toggle("dark-mode", isDark === "dark-mode");
        toggleButton.textContent = isDark === 'light-mode' ? 'Light' : 'Dark';
        
        // send theme cookie to back-end
        fetch("/setTheme", {
            method: 'POST',
            headers: {
                'Content-Type': "application/JSON"
            },
            body: JSON.stringify({
                theme: isDark
            })
        });
    })

</script>

</body>

</html>